<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832874330330-hdgbgpdqnbmovhl88969uqi34h7fj1s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832874330330-hdgbgpdqnbmovhl88969uqi34h7fj1s3</string>
	<key>API_KEY</key>
	<string>AIzaSyCwK8YcPBzhSc3_b8o-n4CQQkdjy0MSuu0</string>
	<key>GCM_SENDER_ID</key>
	<string>832874330330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gadishimwe.geotracker</string>
	<key>PROJECT_ID</key>
	<string>geo-locator-3d789</string>
	<key>STORAGE_BUCKET</key>
	<string>geo-locator-3d789.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832874330330:ios:39e9c5e74f6e4a0c640de3</string>
	<key>DATABASE_URL</key>
	<string>https://geo-locator-3d789.firebaseio.com</string>
</dict>
</plist>